/*fonts*/

@font-face {
    font-family: 'open sans';
    src: url('./fonts/opensans-bold-webfont.eot');
    src: url('./fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('./fonts/opensans-bold-webfont.woff') format('woff'),
         url('./fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('./fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'open sans';
    src: url('./fonts/opensans-bolditalic-webfont.eot');
    src: url('./fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('./fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('./fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'open sans';
    src: url('./fonts/opensans-italic-webfont.eot');
    src: url('./fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('./fonts/opensans-italic-webfont.woff') format('woff'),
         url('./fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('./fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'open sans';
    src: url('./fonts/opensans-regular-webfont.eot');
    src: url('./fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('./fonts/opensans-regular-webfont.woff') format('woff'),
         url('./fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('./fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


*	{ 
	box-sizing: border-box; 
}


html {
	/*width: 924px; */
	/*margin: 0 auto;*/
	/*font-family: 'open sans', sans-serif;*/
	font-size: 16px;
}


body {
  color: black;
  font-family: 'open sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
}


h1, h2, h3 {
	font-weight: bold;
}


h1 {
	font-size: 2.7rem;
}


h2 {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}


h3 {
	font-size: 1.2rem;
	color: #feaa3a;
}


a {
	color: #feaa3a;
	text-decoration: none;
}


a:hover {
    color: maroon;
}


p {
   margin-bottom: 1rem;
}

i {
	font-style: italic;
}


.container {
	width: 840px;
   	margin: 0 auto;
}

.clearfix {
	overflow: auto;
}


/*Header*/

header {
	background: #333 url('images/birds.jpg') scroll no-repeat center center;
	color: white;
}


.birds {
	text-align: center;
	padding: 8rem 0 6rem;
}


.logo img {
	display: block;
   	margin: 0 auto 1.5rem;
}


header h1 {
	display: inline-block;
	border-bottom: 1px solid #feaa3a;
}


header h2 {
	font-weight: normal;
	margin-bottom: 1rem;
}


.hello {
	padding: 3rem 0;
}


.headshot {
	float: left;
	width: 30%;
	margin-right: 5%;
}


.hello {
	 background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)) fixed no-repeat center center;
}


.hello-desc h2 {
	color: #feaa3a;
}


.hello-desc {
	float: right;
	width: 65%;
}


/*Work Experience  */

.work {
	margin: 0 auto;
	padding: 1.8rem 0;
}

.work h2 {
	border-bottom: 1px solid #333;
	text-transform: uppercase;
	margin-bottom: 1rem;
}


.experience {
	margin-top: 1.8rem;
	border-bottom: 1px solid #333;
	padding-bottom: 1.8rem;
}


.web-widgets, .self-employed {
	float: left;
	width: 30%;
	margin-right: 5%;
}


.web-widgets p, .self-employed p {
	margin-bottom: 0;
}


.web-widgets-desc, .self-employed-desc {
	float: right;
	width: 65%;
}


.experience:last-child {
	border-bottom: none;
}


/*Skills*/

.clouds {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)),
   	url('images/clouds.jpg') no-repeat center center,
    #333;
    color: white;
}	  


.skills {
	padding: 50px;
	text-align: center;
}



.skills h2 {
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid white;
	
	

}


/*.skills-list li {
	border: 3px solid #feaa3a;
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	border-radius: 50%;
	padding: 17px;
	margin: 50px 6px 20px 6px;
}*/

.skills-list {
	margin: 3rem 0;
}

.skills-list li {
	border: 3px solid #feaa3a;
   	border-radius: 50%;
   	float: left;
   	height: 100px;
   	width: 100px;
   	line-height: 600%;
   	margin: 0 14px;
   	text-align: center;
   	
}

.skills-list li:first-child {
	margin-left: 0;
}


.skills-list li:last-child {
	margin-right: 0;
}


/*Education*/

.education h2 { 
	border-bottom: 1px solid #333;
	padding-top: 3rem;
	padding-bottom: .5rem;
	text-transform: uppercase;
}


.school {
	padding: 10px 0;
}


.school-desc {
	padding: 0 0 50px 0;
}


/*Footer*/

footer {
	background-color: black;
	color: white;
}


.connected {
	clear: both;
	padding: 50px 0 25px 0;
	text-transform: uppercase;
}

.connected h2 {
	border-bottom: 1px solid #333;
}


.social-list li {
	float: right;
	padding: 20px 0 10px 15px;
	display: inline-block;
}


.address {
	text-transform: uppercase;
	float: left;
	width: 33%;
	padding: 20px 0;
	line-height: 1.5;
	
}


.copyright {
	font-size: 10px;
	text-transform: uppercase;
	padding: 0 0 50px 0;
}



